# Docker Compose Environment Variables

# MongoDB
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=movies

# Movies Service
MONGO_URI=mongodb://root:password@mongo:27017/movies?authSource=admin
GRPC_PORT=50051

# API Gateway
HTTP_PORT=8080
GRPC_SERVER_URL=movies-service:50051
